
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>I am working like HELL</h2>
            <p>menus works!</p>
<h2>Food Items</h2>
<table>
    <thead>
        <td>Name</td>
        <td>Price</td>
    </thead>
    <tbody>
        <tr>
        <td>Pavbhaji</td>
        <td>80Rs</td>
        </tr>
        <tr>
            <td>MisalPav</td>
            <td>100Rs</td>
        </tr>
        <tr>
            <td>Pohe</td>
            <td>20Rs</td>
        </tr>
    </tbody>
</table>
        </div>
    </div>
</div>

